.navbar {
  list-style: none;
  display: flex;
  gap: 20px;
  a {
    text-decoration: none;
    color: black;
    transition: 0.2s;
  }
  .active {
    color: rgb(90, 90, 90);
    text-decoration: underline;
  }
  :hover {
    opacity: 0.8;
  }
}
